USE [master]
GO
/****** Object:  Database [WebPanit]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE DATABASE [tongkhosonvn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebPanit', FILENAME = N'C:\Users\DELL 5559\WebPanit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebPanit_log', FILENAME = N'C:\Users\DELL 5559\WebPanit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tongkhosonvn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebPanit]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BannerName] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[Location] [int] NOT NULL,
	[Url] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigSites]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigSites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Facebook] [nvarchar](500) NULL,
	[Youtube] [nvarchar](500) NULL,
	[Instagram] [nvarchar](500) NULL,
	[Twitter] [nvarchar](500) NULL,
	[GooglePlus] [nvarchar](500) NULL,
	[Address] [nvarchar](500) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[LogoTop] [nvarchar](500) NULL,
	[LogoBottom] [nvarchar](500) NULL,
	[Payment] [ntext] NULL,
	[Helper] [ntext] NULL,
	[Transport] [ntext] NULL,
	[RefundPolicy] [ntext] NULL,
	[CopyRight] [ntext] NULL,
	[Active] [bit] NOT NULL,
	[Contact] [ntext] NULL,
	[PricePaint] [ntext] NULL,
 CONSTRAINT [PK_dbo.ConfigSites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](60) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBacks]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBacks](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FullNname] [nvarchar](max) NULL,
	[Content] [ntext] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[FlagHome] [bit] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FeedBacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryImages]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[FlagHome] [bit] NOT NULL,
	[Avatar] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.LibraryImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [bigint] NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[ShipDate] [date] NOT NULL,
	[Status] [bit] NOT NULL,
	[Remove] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategoryParents]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategoryParents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PostCategoryParents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[DisPlayOrder] [int] NOT NULL,
	[View] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[FlagHome] [bit] NOT NULL,
	[PostCategoryID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Images] [nvarchar](max) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[OriginalPrice] [decimal](18, 0) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Detail] [ntext] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[FlagHome] [bit] NOT NULL,
	[View] [int] NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[Warranty] [int] NOT NULL,
	[TradeMarkID] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiveEmails]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiveEmails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.ReceiveEmails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_PostCategory]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_PostCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[ShowOnHome] [bit] NOT NULL,
	[ParentPostCategoryID] [int] NULL,
 CONSTRAINT [PK_dbo.Table_PostCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_ProductCategory]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_ProductCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Active] [bit] NOT NULL,
	[ShowMenuVertical] [bit] NOT NULL,
	[FlagHome] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Table_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag_ProductCategry_TradeMarks]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag_ProductCategry_TradeMarks](
	[TradeMarkID] [int] NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[TagName] [nvarchar](max) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Tag_ProductCategry_TradeMarks] PRIMARY KEY CLUSTERED 
(
	[TradeMarkID] ASC,
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradeMarks]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeMarks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Avatar] [nvarchar](250) NULL,
	[Active] [bit] NOT NULL,
	[FlagHome] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TradeMarks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypicalCustomers]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypicalCustomers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Avatar] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[FullName] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.TypicalCustomers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 9/20/2020 8:09:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](120) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banners] ON 

INSERT [dbo].[Banners] ([Id], [BannerName], [Image], [Width], [Height], [Location], [Url], [DisplayOrder], [Active]) VALUES (2, N'Abc', N'2020/09/17/132448006314594935.jpg', 900, 400, 4, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Banners] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfigSites] ON 

SET IDENTITY_INSERT [dbo].[ConfigSites] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [FullName], [Email], [Subject], [Content], [PhoneNumber]) VALUES (5, N'Đào Mạnh Quân', N'manhquan@gmail.com', N'Lorem ipsum dolor sit amet consec tetuer adipiscing', N'Lorem ipsum dolor sit amet consec tetuer adipiscing', N'0969484957')
INSERT [dbo].[Contacts] ([Id], [FullName], [Email], [Subject], [Content], [PhoneNumber]) VALUES (6, N'Đào Mạnh Quân', N'manhquan@gmail.com', N'Lorem ipsum dolor sit amet consec tetuer adipiscing', N'abc', N'0123-456-789')
INSERT [dbo].[Contacts] ([Id], [FullName], [Email], [Subject], [Content], [PhoneNumber]) VALUES (7, N'Đào Mạnh Quân', N'manhquan@gmail.com', N'Lorem ipsum dolor sit amet consec tetuer adipiscing', N'abc', N'0969484957')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedBacks] ON 

SET IDENTITY_INSERT [dbo].[FeedBacks] OFF
GO
SET IDENTITY_INSERT [dbo].[LibraryImages] ON 

INSERT [dbo].[LibraryImages] ([Id], [DisplayOrder], [Active], [FlagHome], [Avatar]) VALUES (1, 1, 1, 1, N'2020/09/19/132450064946512908.png')
INSERT [dbo].[LibraryImages] ([Id], [DisplayOrder], [Active], [FlagHome], [Avatar]) VALUES (2, 2, 1, 1, N'2020/09/19/132450064999042378.png')
INSERT [dbo].[LibraryImages] ([Id], [DisplayOrder], [Active], [FlagHome], [Avatar]) VALUES (3, 3, 1, 1, N'2020/09/19/132450065147385556.png')
SET IDENTITY_INSERT [dbo].[LibraryImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Id], [FullName], [Email], [Address], [Phone], [CreateDate], [Active]) VALUES (2, N'abv', N'ada', N'ada', N'123', CAST(N'2020-09-19T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Members] ([Id], [FullName], [Email], [Address], [Phone], [CreateDate], [Active]) VALUES (3, N'abv', N'ada', N'ada', N'123', CAST(N'2020-09-19T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Members] ([Id], [FullName], [Email], [Address], [Phone], [CreateDate], [Active]) VALUES (5, N'Đào Mạnh Quân', N'manhquan1599@gmail.com', N'Ngõ 1 phạm văn đồng', N'0969484957', CAST(N'2020-09-20T16:46:08.060' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [MemberID], [ProductID], [CreateDate], [Price], [ShipDate], [Status], [Remove], [Quantity], [OrderCode]) VALUES (42, 7, 10, CAST(N'2020-09-20' AS Date), CAST(12900000 AS Decimal(18, 0)), CAST(N'2020-09-30' AS Date), 0, 0, 5, N'202009201720C42')
INSERT [dbo].[Orders] ([ID], [MemberID], [ProductID], [CreateDate], [Price], [ShipDate], [Status], [Remove], [Quantity], [OrderCode]) VALUES (43, 8, 10, CAST(N'2020-09-20' AS Date), CAST(10320000 AS Decimal(18, 0)), CAST(N'2020-09-30' AS Date), 0, 0, 4, N'202009201729C43')
INSERT [dbo].[Orders] ([ID], [MemberID], [ProductID], [CreateDate], [Price], [ShipDate], [Status], [Remove], [Quantity], [OrderCode]) VALUES (44, 9, 10, CAST(N'2020-09-20' AS Date), CAST(10320000 AS Decimal(18, 0)), CAST(N'2020-09-30' AS Date), 0, 0, 4, N'202009201729C44')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCategoryParents] ON 

INSERT [dbo].[PostCategoryParents] ([Id], [Name], [DisplayOrder], [Active]) VALUES (1, N'VỀ CHÚNG TÔI', 1, 1)
INSERT [dbo].[PostCategoryParents] ([Id], [Name], [DisplayOrder], [Active]) VALUES (2, N'DỊCH VỤ KHÁCH HÀNG', 2, 1)
INSERT [dbo].[PostCategoryParents] ([Id], [Name], [DisplayOrder], [Active]) VALUES (4, N'KHÁCH HÀNG CẦN BIẾT', 3, 1)
SET IDENTITY_INSERT [dbo].[PostCategoryParents] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [Subject], [Description], [Content], [Image], [CreateDate], [DisPlayOrder], [View], [Active], [FlagHome], [PostCategoryID]) VALUES (1, N'Lorem ipsum dolor sit amet consec tetuer adipiscing', N'Lorem Ipsum is simply dummy text of the printing and typeset ting industry. Lorem Ipsum has been ..', N'<p>Lorem Ipsum is simply dummy text of the printing and typeset ting industry. Lorem Ipsum has been ..</p>
', N'2020/09/18/132448733941305224.jpg', CAST(N'2020-09-18T10:29:54.100' AS DateTime), 1, 1, 1, 1, 1)
INSERT [dbo].[Posts] ([Id], [Subject], [Description], [Content], [Image], [CreateDate], [DisPlayOrder], [View], [Active], [FlagHome], [PostCategoryID]) VALUES (2, N'Lorem ipsum dolor sit amet consec tetuer adipiscing', N'Lorem Ipsum is simply dummy text of the printing and typeset ting industry. Lorem Ipsum has been ..', N'<p>Lorem Ipsum is simply dummy text of the printing and typeset ting industry. Lorem Ipsum has been ..</p>
', N'2020/09/18/132448738891840826.jpg', CAST(N'2020-09-18T10:38:09.160' AS DateTime), 2, 1, 1, 1, 1)
INSERT [dbo].[Posts] ([Id], [Subject], [Description], [Content], [Image], [CreateDate], [DisPlayOrder], [View], [Active], [FlagHome], [PostCategoryID]) VALUES (3, N'Lorem ipsum dolor sit amet consec tetuer adipiscing', N'Lorem Ipsum is simply dummy text of the printing and typeset ting industry. Lorem Ipsum has been ..', N'<p>Lorem Ipsum is simply dummy text of the printing and typeset ting industry. Lorem Ipsum has been ..</p>
', N'2020/09/18/132448739021324488.jpg', CAST(N'2020-09-18T10:38:22.133' AS DateTime), 3, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReceiveEmails] ON 

INSERT [dbo].[ReceiveEmails] ([Id], [Email]) VALUES (2, N'manhquan@gmail.com')
INSERT [dbo].[ReceiveEmails] ([Id], [Email]) VALUES (3, N'manhquan@gmail.com')
INSERT [dbo].[ReceiveEmails] ([Id], [Email]) VALUES (4, N'manhquan1599@gmail.com')
SET IDENTITY_INSERT [dbo].[ReceiveEmails] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_PostCategory] ON 

INSERT [dbo].[Table_PostCategory] ([ID], [CategoryName], [Url], [DisplayOrder], [Active], [ShowOnHome], [ParentPostCategoryID]) VALUES (1, N'Giới thiệu', NULL, 1, 1, 1, 1)
INSERT [dbo].[Table_PostCategory] ([ID], [CategoryName], [Url], [DisplayOrder], [Active], [ShowOnHome], [ParentPostCategoryID]) VALUES (2, N'Điều khoản và dịch vụ', NULL, 2, 1, 1, 1)
INSERT [dbo].[Table_PostCategory] ([ID], [CategoryName], [Url], [DisplayOrder], [Active], [ShowOnHome], [ParentPostCategoryID]) VALUES (4, N'Chính sách bảo mật', NULL, 3, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Table_PostCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Table_ProductCategory] ON 

INSERT [dbo].[Table_ProductCategory] ([ID], [Name], [DisplayOrder], [CreateDate], [Active], [ShowMenuVertical], [FlagHome]) VALUES (10, N'SƠN NƯỚC', 1, CAST(N'2020-09-18' AS Date), 1, 1, 1)
INSERT [dbo].[Table_ProductCategory] ([ID], [Name], [DisplayOrder], [CreateDate], [Active], [ShowMenuVertical], [FlagHome]) VALUES (11, N'SƠN EPOXY ', 2, CAST(N'2020-09-18' AS Date), 1, 1, 1)
INSERT [dbo].[Table_ProductCategory] ([ID], [Name], [DisplayOrder], [CreateDate], [Active], [ShowMenuVertical], [FlagHome]) VALUES (12, N'SƠN CHỐNG THẤM', 3, CAST(N'2020-09-18' AS Date), 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Table_ProductCategory] OFF
GO
INSERT [dbo].[Tag_ProductCategry_TradeMarks] ([TradeMarkID], [ProductCategoryID], [TagName], [DisplayOrder], [Active]) VALUES (1, 10, NULL, 1, 1)
INSERT [dbo].[Tag_ProductCategry_TradeMarks] ([TradeMarkID], [ProductCategoryID], [TagName], [DisplayOrder], [Active]) VALUES (1, 11, NULL, 1, 1)
INSERT [dbo].[Tag_ProductCategry_TradeMarks] ([TradeMarkID], [ProductCategoryID], [TagName], [DisplayOrder], [Active]) VALUES (1, 12, NULL, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[TradeMarks] ON 

INSERT [dbo].[TradeMarks] ([Id], [Name], [Avatar], [Active], [FlagHome], [DisplayOrder]) VALUES (1, N'SƠN DULUX - MAXILITE', N'2020/09/18/132448859531946379.jpg', 1, 1, 1)
INSERT [dbo].[TradeMarks] ([Id], [Name], [Avatar], [Active], [FlagHome], [DisplayOrder]) VALUES (2, N'Sơn KOVA', N'2020/09/18/132448865503234802.jpg', 1, 1, 3)
INSERT [dbo].[TradeMarks] ([Id], [Name], [Avatar], [Active], [FlagHome], [DisplayOrder]) VALUES (3, N'Sơn NIPPON', N'2020/09/18/132448865953267308.jpg', 1, 1, 4)
SET IDENTITY_INSERT [dbo].[TradeMarks] OFF
GO
SET IDENTITY_INSERT [dbo].[TypicalCustomers] ON 

INSERT [dbo].[TypicalCustomers] ([Id], [Avatar], [Description], [DisplayOrder], [Active], [FullName]) VALUES (1, N'2020/09/19/132449646503001709.png', N'abc', 1, 1, N'abc')
INSERT [dbo].[TypicalCustomers] ([Id], [Avatar], [Description], [DisplayOrder], [Active], [FullName]) VALUES (2, N'2020/09/19/132449645979063274.png', N'abc', 2, 1, N'abc')
INSERT [dbo].[TypicalCustomers] ([Id], [Avatar], [Description], [DisplayOrder], [Active], [FullName]) VALUES (3, N'2020/09/19/132449646092649424.png', N'abc', 3, 1, N'abc')
SET IDENTITY_INSERT [dbo].[TypicalCustomers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [UserName], [PassWord], [Active]) VALUES (1, N'manhquan', N'Wk/+Qh7U8NAmPDXnUt3AI36PQuZIzycN48Guh5gYvsL20k9k', 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
/****** Object:  Index [IX_MemberID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberID] ON [dbo].[Orders]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[Orders]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostCategoryID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_PostCategoryID] ON [dbo].[Posts]
(
	[PostCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryID] ON [dbo].[Products]
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TradeMarkID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_TradeMarkID] ON [dbo].[Products]
(
	[TradeMarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentPostCategoryID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentPostCategoryID] ON [dbo].[Table_PostCategory]
(
	[ParentPostCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryID] ON [dbo].[Tag_ProductCategry_TradeMarks]
(
	[ProductCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TradeMarkID]    Script Date: 9/20/2020 8:09:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_TradeMarkID] ON [dbo].[Tag_ProductCategry_TradeMarks]
(
	[TradeMarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF__Products__Warran__14270015]  DEFAULT ((0)) FOR [Warranty]
GO
ALTER TABLE [dbo].[TradeMarks] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Members_MemberID] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Members_MemberID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_PostCategoryID] FOREIGN KEY([PostCategoryID])
REFERENCES [dbo].[Table_PostCategory] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.PostCategories_PostCategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[Table_ProductCategory] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.TradeMarks_TradeMarkID] FOREIGN KEY([TradeMarkID])
REFERENCES [dbo].[TradeMarks] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.TradeMarks_TradeMarkID]
GO
ALTER TABLE [dbo].[Table_PostCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Table_PostCategory_dbo.PostCategoryParents_ParentPostCategoryID] FOREIGN KEY([ParentPostCategoryID])
REFERENCES [dbo].[PostCategoryParents] ([Id])
GO
ALTER TABLE [dbo].[Table_PostCategory] CHECK CONSTRAINT [FK_dbo.Table_PostCategory_dbo.PostCategoryParents_ParentPostCategoryID]
GO
ALTER TABLE [dbo].[Tag_ProductCategry_TradeMarks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagProductCategories_dbo.ProductCategories_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[Table_ProductCategory] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag_ProductCategry_TradeMarks] CHECK CONSTRAINT [FK_dbo.TagProductCategories_dbo.ProductCategories_ProductCategoryID]
GO
ALTER TABLE [dbo].[Tag_ProductCategry_TradeMarks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagProductCategories_dbo.TradeMarks_TradeMarkID] FOREIGN KEY([TradeMarkID])
REFERENCES [dbo].[TradeMarks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag_ProductCategry_TradeMarks] CHECK CONSTRAINT [FK_dbo.TagProductCategories_dbo.TradeMarks_TradeMarkID]
GO
USE [master]
GO
